body,
html {
	@include reset-box-model;
	background-color: #dabfbc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 1rem 2rem;

	position: relative;

	transform: rotate(-0.5deg);
}