<div class="tile">
    <div class="left">
        <h3>{{ project.title }}</h3>
        {{ project.description | safe }}
    </div>
    <div class="right">
        <img src="{{project.screenshot}}" alt="{{project.title}} screenshot">
    </div>
</div>