.tile {
	display: block;
	width: 100%;
	opacity: 0.3;
	margin: 0.5em 0;

	border-bottom: 1px black solid;

	&:hover {
		opacity: 1;
	}

	&.expand {
		.header > img {
			display: none;
		}

		.content {
			display: block;
		}
	}

	.header {
		cursor: pointer;

		> h3, img {
			display: inline;
			font-size: 6.4rem;
			line-height: 1em;
		}

		> h3 {
			font-weight: 700;
			margin: 0;
			letter-spacing: -2px;
		}

		> img {
			height: 0.8em;
		}
	}

	.content {
		display: none;

		> img {
			width: 100%;
		}
	}
}