.tile {
	display: block;
	width: 100%;
	opacity: 0.7;
	margin: 0.5em 0;

	&:hover {
		opacity: 1;
	}

	&.expand {
		.header>img {
			display: none;
		}

		.content {
			display: block;
		}
	}

	.header {
		cursor: pointer;

		>h3,
		img {
			display: inline;

		}

		>h3 {

			margin: 0;
		}

		>img {
			height: 0.8em;
		}
	}

	.content {
		display: none;

		>img {
			width: 100%;
		}
	}
}