{% extends "master.njk" %}

{% block content %}

	<div class="left">
		<h1>
			Scott Blissett
		</h1>
		<div class="about">
			<p>
				Currently working: Senior Digital Designer @
				<a href="http://presentcompany.co" target="_blank">Present Company</a>
			</p>
		</div>
		<div class="work">
			<p>
				Whilst at Present Company i've worked with:
			</p>
			<ul>
				<li>Red Bull -
					<a href="#" data-name="capefear">Cape Fear</a>,
					<a href="#" data-name="rbma">Red Bull Music Academy Weekender Sydney</a>,
					<a href="#" data-name="rbra">Red Bull Racing Australia</a>
				</li>
				<li>Casella Family Brands -
					<a href="#" data-name="cfb">Casella Family Brands</a>,
					<a href="#" data-name="yt">[yellow tail]</a>,
					<a href="#" data-name="pl">Peter Lehmann</a>,
					<a href="#" data-name="morriswines">Morris Wines</a>
				</li>
				<li>Vodafone -
					<a href="#" data-name="vfmr">Vodafone Media Room</a>
				</li>
				<li>Semi Permanent -
					<a href="#" data-name="sp">Semi Permanent</a>
				</li>
				<li>Bacardi -
					<a href="#" data-name="bfr">Fuego Revoutions</a>
				</li>
				<li>Crafted -
					<a href="#" data-name="cr">Capitol Residences</a>,
					<a href="#" data-name="crafted">Crafted</a>
				</li>
				<li>QSRH -
					<a href="#" data-name="oporto">Oporto</a>,
					<a href="#" data-namee="rr">Red Rooster</a>
				</li>
				<li>
					<a href="#" data-name="oxygen">Oxygen</a>
				</li>
				<li>Unibet -
					<a href="" data-name="iameuro">I Am Euro</a>
				</li>
				<li>Office of Environment and Heritage -
					<a href="#" data-name="yac">National Parks Blog</a>,
					<a href="#" data-name="figureeight">Figure Eight Pools</a>
				</li>
				<li>RMIT -
					<a href="#" data-name="studentportal">Student Portal</a>
				</li>
			</ul>
		</div>
		<div class="contact">
			<p>
				emailabsentees at gmail.com
			</p>
			<p>
				<a href="http://twitter.com/absentees" target="_blank">twitter</a>
			</p>
		</div>
	</div>

{% endblock %}
